.content-fixed {
  position: fixed;
  height: 100vh;
  width: 60vw;
  background: url(images/bg2.jpg) top left/cover no-repeat;
  /* background: url(images/bgMobile.jpg) right/cover no-repeat; */
  z-index: 10;
}

.fixed__container {
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 15px;
  width: 100%;
}
.header-fixed {
  display: none;
}

@media (max-width: 1200px) {
  .content-fixed {
    position: relative;
    width: 100vw;
    justify-content: center;
    height: 80vh;
    background: url(images/bgMobile.jpg) right/cover no-repeat;
  }

  .header-fixed {
    position: fixed;
    width: 100vw;
    display: block;
    top: 0;
    background-color: #fff;
    height: 10vh;
    z-index: 100;
  }

  body._dark-mode .header-fixed {
    background-color: #121212;
    color: #fff;
  }

  .header-fixed__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 30px 30px;
  }

  .fixed__container {
    max-width: 100%;
    margin-top: 10vh;
    flex-direction: column-reverse;
  }

  .button-start {
    font-family: Rbold;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    margin: 5px 0px 0px 0px;
    background-color: transparent;
    transition: 0.2s;
    border-radius: 30px;
    padding: 13px 37px;
    background-color: #1f925b;
  }

  body._dark-mode .button-start {
    background-color: #96c324;
    color: #121212;
  }

  .offer button {
    display: none;
  }
  .fixed__header {
    display: none;
  }

  .header-fixed__container .header__logo span {
    color: #1f925b;
  }

  body._dark-mode .header-fixed__container .header__logo span {
    color: #96c324;
  }
}

.header__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.header__logo {
  max-width: 150px;
  font-size: 20px;
  font-family: Rbold;
  list-style: 20px;
}

.header__logo span {
  /* font-family: PDregular; */
  color: #b5e92f;
}

.header__logo p {
  font-size: 12px;
  font-family: Rregular;
  margin: 5px 0px;
  line-height: 130%;
  transform: translate(4px, 0);
}

.header__tw-link a {
  color: #b5e92f;
}

.offer {
  /* flex: 1 1 auto; */
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.offer h1 {
  font-family: Rbold;
  font-size: 35px;
  max-width: 450px;
  line-height: 120%;
  letter-spacing: 2px;
}

.offer p {
  font-family: Rregular;
  font-size: 14px;
  letter-spacing: 2.5px;
  line-height: 150%;
  margin: 30px 0px;
  max-width: 430px;
}

.offer__links {
  display: flex;
  flex-direction: column;
}
.offer button {
  font-family: Rbold;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
  background-color: transparent;
  transition: 0.2s;
  /* border: 3px solid #fff; */
  border-radius: 30px;
  padding: 13px 37px;
  background-color: #96c324;
}

.offer button:hover {
  background-color: #1f925b;
}

.info-foto {
  font-size: 12px;
  color: #fff;
}

@media (max-width: 1200px) {
  .fixed__header {
    height: auto;
  }
  .offer {
    width: 100%;
    flex: 0 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: 13px;
  }
  .offer h1 {
    font-size: 25px;
  }
  .offer h1,
  .offer p {
    width: 100%;
  }
  .offer p {
    max-width: 360px;
  }
  .info-foto {
    text-align: center;
  }
}

@media (max-width: 998px) {
  .offer h1 {
    font-size: 23px;
  }
  .offer p {
    font-size: 12px;
  }
}

@media (max-width: 680px) {
  .button-start {
    font-size: 12px;
    padding: 15px 18px;
  }
  .header__logo {
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  .header__link-tw {
    display: block;
  }
  .offer h1 {
    font-size: 22px;
  }
  .offer p {
    font-size: 12px;
  }
  .header__row {
    flex-direction: column;
    align-items: center;
  }
  .offer button {
    font-size: 15px;
  }
  .header__logo {
    margin: 0px 0px 10px 0px;
    font-size: 15px;
  }
  .header__logo p {
    font-size: 12px;
  }
}

.content-variable__sidebar {
  position: fixed;
  z-index: 10;
  width: auto;
  margin-right: 15px;
  padding: 50px 0px;
  height: 100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content-variable__sidebar-menu {
  display: flex;
  flex-direction: column;
}

.cite-btn {
  cursor: pointer;
  transition: 0.2s;
  max-width: 200px;
}

.cite-btn:hover {
  color: #1f925b;
}

body._dark-mode .cite-btn:hover {
  color: #b5e92f;
}

.content-variable__sidebar-menu .menu-link {
  text-align: right;
  background-color: #fff;
  border-radius: 30px;
  padding: 5px;
  position: relative;
  margin-right: 15px;
}

.content-variable__sidebar-menu .menu-link:after {
  content: "";
  background-color: #222222;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  border-radius: 30px;
}

.content-variable__sidebar-menu .menu-link a {
  color: #222222;
}

.dark-mode-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  background-color: #fff;
  fill: #121212;
}

.dark-mode-button svg {
  height: 100%;
  width: 100%;
}

body._dark-mode .dark-mode-button {
  background-color: #121212;
  fill: #fff;
}

.content-variable {
  position: relative;
  margin: 0px 0px 0px 60vw;
  min-height: 100vh;
  color: #393e46;
  transition: 0.2s;
}

body._dark-mode .content-variable {
  background-color: #121212;
  color: #fff;
}

.variable__container {
  height: auto;
  max-width: 500px;
  margin: 0px auto;
  padding: 50px 15px;
}

@media (max-width: 1200px) {
  .content-variable {
    margin: 0px;
    position: relative;
    text-align: center;
  }
}

.variable__first-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
  width: 100%;
  position: relative;
}

.about {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  max-width: 400px;
}

.about__title {
  font-size: 23px;
  line-height: 120%;
  font-family: Rbold;
  letter-spacing: 1.4px;
}

.about p {
  margin: 20px 0px;
  font-family: Rregular;
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 130%;
}

.about button {
  display: inline-block;
  background: transparent;
  color: #1f925b;
  border: 2px solid #1f925b;
  border-radius: 30px;
  padding: 10px 30px;
  font-family: Rbold;
  text-transform: uppercase;
  transition: 0.4s;
}

.about button:hover {
  background: #eeeeee;
}

body._dark-mode .about button {
  border: 2px solid #b5e92f;
  color: #b5e92f;
}

body._dark-mode .about button:hover {
  background-color: #222222;
  border: 2px solid #b5e92f;
  color: #b5e92f;
}

.arrow {
  margin: 0px auto;
  cursor: pointer;
  width: 50px;
  transform: translate(0, -100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow__item {
  position: relative;
  height: 20px;
  width: auto;
}

.arrow__item svg {
  height: 100%;
  fill: #949494;
  transition: 0.4s;
}

.arrow__item:last-child svg {
  transform: translate(0, -7px);
}

.arrow:hover .arrow__item svg {
  fill: #1f925b;
  transform: translate(0, 0px);
}

@media (max-width: 1200px) {
  .variable__first-screen {
    justify-content: space-between;
  }
  .need__help {
    height: auto;
  }
  .about {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 1;
  }
  .arrow {
    transform: translate(0);
    padding: 50px 0px;
  }
}

.section__title {
  font-family: Rbold;
  font-size: 19px;
  /* text-align: center; */
}

.prj-info {
  padding: 50px 0px;
}

.prj-info p {
  font-size: 14px;
  line-height: 140%;
  margin: 20px 0px 40px 0px;
}

.modules {
  padding: 50px 0px;
  margin-top: 40px;
}

.modules__text {
  font-size: 14px;
  line-height: 140%;
  margin: 20px 0px 40px 0px;
  /* text-align: center; */
}
.modules__cards {
  display: flex;
  justify-content: space-between;
}

.modules__cards a {
  width: 100%;
  margin-right: 25px;
}

.modules__cards a:last-child {
  margin-right: 0;
}
.modules__cards-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 30px 35px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

body._dark-mode .modules__cards-item {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.modules__cards-item svg {
  width: 50px;
  fill: #393e46;
}

body._dark-mode .modules__cards-item svg {
  fill: #fff;
}

.modules__cards-item:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.modules__cards-item:hover:after {
  height: 8px;
}

.modules__cards-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;

  background-color: #b5e92f;
  transition: 0.4s;
}

body._dark-mode .modules__cards-item:after {
  background-color: #1f925b;
}

@media (max-width: 500px) {
  .modules__cards {
    flex-direction: column;
  }
  .modules__cards-item {
    margin: 20px 0px;
  }
}

.cards-item__image {
  height: 55px;
  margin: 0px 0px 10px 0px;
}
.cards-item__image svg {
  height: 100%;
}

.cards-item__name {
  font-family: Rbold;
  line-height: 140%;
  font-size: 18px;
  color: #393e46;
}

body._dark-mode .cards-item__name {
  color: #fff;
}

.team {
  padding: 100px 0px;
}

.team__cards {
  margin: 40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.team__cards-row {
  display: flex;
  justify-content: space-between;
}
.team__cards-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 30px 35px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: box-shadow 0.4s;
  margin: 20px 0px;
  max-width: 210px;
  min-width: 220px;
}

body._dark-mode .team__cards-item {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.team__cards-item:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.team__cards-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;

  background-color: #1f925b;
  transition: 0.4s;
}

body._dark-mode .team__cards-item:after {
  background-color: #b5e92f;
}

.team__image {
  position: relative;
  height: 135px;
  width: 135px;
  border-radius: 50%;
  overflow: hidden;
}
.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team__name {
  margin: 15px 0px 5px 0px;
  max-width: 140px;
  text-align: center;
  font-family: Rbold;
  letter-spacing: 1px;
  font-size: 14px;
  /* color: #393e46; */
  flex: 1 1;
}

.team__job {
  font-size: 12px;
  font-family: Rregular;
  /* color: rgb(136, 136, 136); */
  text-align: center;
}

.team__info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 5px;
}

.team__link {
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 5px;
}

.team__link svg {
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

body._dark-mode .team__link svg {
  fill: rgba(255, 255, 255, 0.4);
}

.team__link:hover svg {
  fill: #1f925b;
}

body._dark-mode .team__link:hover svg {
  fill: #1f925b;
}

.arrow._up {
  transform: translate(0) rotate(180deg);
}

.team__cards-row._coders {
  margin: 30px 0px 0px 0px;
}

@media (max-width: 500px) {
  .team__cards-row {
    flex-direction: column;
  }
  .team__cards-item {
    max-width: 100%;
  }
  .team__cards-row._coders {
    margin: 0px 0px 0px 0px;
  }
}
.cite {
  padding-bottom: 70px;
}

.cite .cite__text {
  padding-top: 20px;
}

.cite__text {
  line-height: 130%;
}
.cite__text span {
  color: #1f925b;
  transition: 0.2s;
}

.cite__text span {
  font-family: Rbold;
}

body._dark-mode .cite__text span {
  color: #b5e92f;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-self: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.popup._active {
  z-index: 500;
  opacity: 1;
  visibility: visible;
}

.popup__container {
  position: relative;
  padding: 50px;
  margin: auto;
  max-width: 800px;
  background-color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10%);
}

body._dark-mode .popup__container {
  background-color: #111111;
  color: #fff;
}

.popup._active .popup__container {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.popup__close {
  align-self: flex-end;
  display: inline-block;
  text-align: right;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.popup__close svg {
  width: 30px;
  fill: #1f925b;
  transition: 0.4s;
  border-radius: 100px;
}

body._dark-mode .popup__close svg {
  fill: #b5e92f;
}

.popup__close:hover svg {
  background: #eeeeee;
}

body._dark-mode .popup__close:hover svg {
  background: #222222;
}

.popup__title {
  font-family: Rbold;
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}

.popup__text {
  font-size: 14px;
  line-height: 150%;
  text-align: justify;
}

.popup__text p {
  margin: 15px 0px;
}

.popup__text a {
  color: #1f925b;
  font-family: Rbold;
}

body._dark-mode .popup__text a {
  color: #b5e92f;
}

.popup__text a:visited {
  opacity: 0.7;
}

.popup__text li {
  margin: 7px 0px;
}

.footer {
  background-color: #121212;
  color: #fff;
  position: relative;
}

.footer-container {
  height: auto;
  max-width: 500px;
  margin: 0px auto;
  padding: 50px 15px;
  display: flex;
  justify-content: space-between;
}

body._dark-mode .footer {
  background-color: #222222;
}

.footer__version {
  font-family: Rbold;
  font-size: 22px;
}

.need__help a {
  color: #fff;
  transition: 0.2s;
  line-height: 120%;
}
