@font-face {
  font-family: BenchNine;
  src: url(fonts/Raleway/Raleway-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #121212;
  min-height: 100vh;

  position: relative;
  
}

body._dark-mode {
  background-color: #121212;
  color: #fff;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 15px;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  /* z-index: 1; */
  right: 12px;
  z-index: 101;
  padding-left: 12px;

  /* background-color: #222222; */
}

body._dark-mode .header {
  background-color: #222222;
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo a {
  color: #343434;
  font-size: 20px;
  font-family: Rbold;
  letter-spacing: 0;

  /* color: #fff; */
}

body._dark-mode .header__logo a {
  color: #fff;
}

.header__logo span {
  color: #1F925B;
}

body._dark-mode .header__logo span {
  color: #A6E011;
}

.header__menu {
  padding: 20px;
  margin: 0px 40px;
  width: 100%;
}

.header__menu-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-link {
  font-size: 17px;
  font-family: Rbold;
  margin: 0px 10px;
  color: #343434;
  opacity: 1;
  transition: 0.2s;

  /* color: #fff; */
}

.to-home{
  margin-right: 50px;
}

body._dark-mode .menu-link {
  color: #fff;
}

#to-home {
  margin-right: 50px;
}

.menu-link:hover {
  color: #1F925B;
}


body._dark-mode .menu-link:hover {
  color: #A6E011;
}

.query {
  margin-left: 20px;
  position: relative;
}

.query input {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 16px;
  width: 300px;
  background-color: #f8f7f7;
  padding: 10px 15px;
  border-radius: 30px;
  transition: 0.2s;
  padding-right: 38px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

body._dark-mode .query input {
  color: #fff;
  background-color: #121212;
}

.query input:focus svg {
  fill: #A6E011;
}

.query svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  fill: #cbcbcb;
  transition: 0.2s;
  cursor: pointer;
}

body._dark-mode .query svg {
  fill: #7e828a;
}

body._dark-mode .query svg{
  fill: #7e828a;
}

.query._focus svg {
  fill: #1F925B;
}

body._dark-mode .query._focus svg {
  fill: #B5E92F;
}

.header__icons {
  position: relative;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.header__icons__item svg {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  fill: #393e46;
}

body._dark-mode .header__icons__item svg {
  background-color: #393e46;
  fill: #fff;
}


#close-menu {
  display: none;
}

#search-link {
  display: none;
}
.search-start{
  display: none;
}


/* -------------------------------------------------------------------------------- */

.data-header{
  padding-left: 20px;
  display: none;
}

#data {
  overflow: auto;
  position: relative;
  transition: 0.2s;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
}

body._dark-mode .data-header {
  color: #fff;
}

body._dark-mode #data{
  background-color: #121212;
}

#last-query span {
  font-family: Rbold;
}

#last-query._hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.data__popup-mean {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #343434;
  background-color: #fff;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  font-size: 19px;
  line-height: 130%;
}

body._dark-mode .data__popup-mean {
  background-color: #121212;
  color: #fff;
}

.data__popup-mean._active {
  opacity: 1;  
  top: 0;
  visibility: visible;
}

.data__popup-mean span {
  font-family: Rbold;
}

.data__popup-mean_options {
  margin: 15px 0px 0px 0px;
  /* align-self: flex-end; */
}

.data__popup-mean_options button {
  font-size: 21px;
  font-family: Rbold;
  background-color: transparent;
  color: #343434;
  opacity: 0.8;
  transition: 0.2s;
}

.data__popup-mean_options button:hover{
  opacity: 1;
}

.mean__options-no {
  margin: 0px 10px 0px 0px;
  
}

body._dark-mode .mean__options-no {
  color: #fff;
}

button.mean__options-yes {
  color: #1F925B;
}

body._dark-mode .mean__options-yes{
  color: #A6E011;
}

#data-tree__container,
#data-table__container {
  position: relative;
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
  
}

#data-tree__container{
  overflow: hidden;
  height: auto;
}

#data-card__container, #data-table__container, #data-browse__container {
  position: relative;
  transition: 0.2s;
  border-radius: 5px;
  padding: 30px;
  padding-top: 120px;
}



.data-browse-content{
  width: 100%;
  display: flex;  
  flex-direction: column;
  color:#343434;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  border-radius: 5px;
}

.data-browse-content h3{
  font-size: 20px;
  font-family: Rbold;
}

.data-browse__list{
  margin-top: 15px;
}

.browse__list-link{
  padding-left: 30px;
  margin: 15px 0px;
  font-family: Rbold; 
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  /* opacity: 0.7; */
}
.browse__list-link{
  margin: 5px 0px;
  position: relative;
}
.browse__sublist::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
}

.browse__list-link span:hover{
  transition: 0.2s;
  color:#1F925B;
}
.browse__sublist{
  position: relative;
  padding: 5px 0px 5px 30px;
}


.data-browse__list ul.opened::before{
  transform: rotate(180deg);
}


.loading_container img {
  min-height: 55%;
  content: url(loading.png);
}

.data-tree{
  position: relative;
  height: 100%;
  width: 100%;
}

.tree_chart {
  position: absolute !important;
  user-select: none !important;
  width: 1800vw !important;
  height: 3000vh !important;
  letter-spacing: 0 !important;
  top: -565vh;
  left: 0px;
  fill: #222222 !important;
}

body._dark-mode .tree_chart {
  fill: #fff !important;
}

/* -----------------CARD */
#data-card__container{
  color:#121212;
  line-height: 130%;
  transition: 0.2s;
}
.to-table{
  display: flex;
  align-items: center;
}

.to-table *{
  color: #121212;
  fill: #121212;
}
body._dark-mode .to-table *{
  color: #fff;
  fill: #fff;
}

.arrow-back{
  height: 15px;
  width: 15px;
  transform: rotate(90deg);
}
.arrow__item:last-child{
  transform: translateY(-10px);
  transition: 0.2s;
}
.to-table span{
  position: relative;
  left: 10px;
}


.to-table:hover .arrow__item:last-child{
  transform: translate(0);
}

body._dark-mode #data-card__container {
  color: #fff;
  line-height: 130%;
}

.data-card__path ul{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.data-card__path li{
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  /* transition: 0.2s; */
}

.data-card__path li:hover{
  color:#1F925B;
}

#children_container p:hover{
  color: #1F925B;
}

body._dark-mode .data-card__path li:hover {
  color: #A6E011;
}
body._dark-mode #children_container p:hover {
  color: #A6E011;
}

.data-card__path li:after{
  content: ">";
  position: absolute;
  height: auto;
  width: auto;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}

.data-card__path li:last-child::after{
  display: none;
}

.data-card__title{
  font-size: 22px;
  font-family: Rbold;
  padding-bottom: 25px;
}

.data-card__row {
  display: flex;
  overflow: hidden;
}

.card__img-container {
  background-color: #fff;
  margin:15px 15px 15px 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  min-width: 50%;
  position: relative;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body._dark-mode .card__img-container{
  background-color: #222222;
}

.card__img-container svg {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #393e46;
  width: 20px;
  height: 20px;
  z-index: 100;

  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}

.card__img-container svg:hover{
  opacity: 1;
}
.card__img-container._full-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  z-index: 1001;
  margin: 0;
  padding: 15px;
}

.card__img-container._full-screen #card__img-big{
  height: 100%;
}


body._dark-mode svg {
  fill: #fff;
}


#card__img-big{
  position: relative;
  height: 400px;
  width: auto;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

#card__img-big img{
  height: 100%;
  width: auto;
}

.card__img-caption{
  padding: 10px;
}

#card__imgs{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

#card__imgs img {
  border: 2px solid transparent;
  cursor: pointer;
  object-fit: cover;
}

#card__imgs img._active {
  border: 2px solid #222222;
}

#card__imgs img:hover{
  border: 2px solid #222222;
}

body._dark-mode #card__imgs img._active {
  border: 2px solid #fff;
}

body._dark-mode #card__imgs img:hover {
  border: 2px solid #fff;
}

#data-card__img-fullscreen{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.card__img-container svg.img-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.7;
  fill: #393e46;
  right: 50px;

  transition: 0.2s;
  height: 25px;
  width: 25px;
  z-index: 10001;
}

body._dark-mode .card__img-container svg.img-arrow{
  fill: #fff;
}

.card__img-container svg.arrow-left{
  left: 50px;
}

.card__img-container svg.img-arrow:hover{
  opacity: 1;
}


.img-fullscreen{
  width: auto;
  height: 100%;
  position: relative;
}

#img-fullscreen-close {
  position: absolute;
  top: 0px;
  right: -50px;
  fill: #fff;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.7;
}

#img-fullscreen-close:hover{
  opacity: 1;
}

#img-fullscreen-close svg {
  height: 30px;
  width: 30px;
  
}



.img-fullscreen img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img-fullscreen-caption{
  margin: 20px 0px;
  color: #fff;
  font-size: 25px;
}

.card__map-container{
  margin: 15px 0px 15px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  min-width: 50%;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.data-card__info{
  flex: 1 0;
  background-color: #fff;
  margin: 15px 0px;
  /* padding: 30px; */
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.data-card__info .qlink{
  position: relative;
  margin: 0px 7px;
}

.qlink._valid{
  display: flex;
}





#children_container{
  display: flex;
  flex-wrap: wrap;
}

#children_container p{
  transition: 0.2s;
  cursor: pointer;
}

body._dark-mode .data-card__info{
  background-color: #222222;
}

.data-card__info-label{
  font-family: Rbold;
  min-width: 150px !important;
  margin-right: 15px;
}

.LSID a{
  color:#1F925B;
}
body._dark-mode .LSID a {
  color: #B5E92F;
}

.card__info-row{
  display: flex;
  margin: 30px 0px;
  position: relative;
  padding: 0px 30px;
}

.card__info-row:after{
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: #e4e4e4;
  transition: 0.2s;
}

#logonymy li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}


.qlink._valid{

  cursor: pointer;
  /* text-decoration: underline; */
}


.qlink._valid:hover{
  color:#1F925B;
}

#logonymy li span{
  position: relative;
  margin: 0px 5px;
}


body._dark-mode .card__info-row:after{
  background-color: #121212;
}

.card__info-row:last-child:after{
  display: none;
}


.data-card__references{
  background-color: #fff;
    margin: 15px 0px;
    
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.data-card__references-label{
  padding: 30px;
}

#references li{
  position: relative;
  padding: 15px 30px;
}

#references li:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: #e4e4e4;
  transition: 0.2s;
}

#references li:last-child::after{
  display: none;
}

body._dark-mode #references li:after{
  background-color: #121212;
}

body._dark-mode .data-card__references {
  background-color: #222222;
}
.data-card__references-label {
  font-family: Rbold;
  padding-bottom: 10px;
}

.protonym_tag,
.aponym_tag,
.relationship_tag {
  border-radius: 8px;
  padding: 3px 7px 3px 7px;
  margin-top: 5px;
}

.protonym_tag {
  background-color: #B5E92F;
  color: #222222;
}

.relationship_tag {
  background-color: #1F925B;
  color: #fff;
}

.aponym_tag {
  background-color: #e55050;
  color: #fff;
}

li {
  margin-bottom: 12px;
}

#data-table__container{
  flex-direction: column;
}

.data-table__pages{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.data-table__pages span{
  font-family: roboto;
}

body._dark-mode .data-table__pages input{
  color: #fff;
}
.data-table__pages input{
  font-family: roboto;
  background-color: #fff;
  margin: 0px 7px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}
body._dark-mode .data-table__pages input{
  background-color: #222222;
}
.data-table__labels{
  display: flex;
  font-family: Rbold;
  font-size: 18px;
}

body._dark-mode .data-table__item{
  background-color: #222222;
}

.data-table__item{
  position: relative;
  display: flex;
  background-color: #fff;
  margin: 7px 0px;
  /* padding: 30px; */
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}



.data-table__item:hover{
  box-shadow: none;
}
.data-table__ances ul{
  display: flex;
  flex-wrap: wrap;
}

.data-table__ances li{
  padding: 0px 15px;
  cursor: pointer;
  position: relative;
}

.data-table__ances li:hover{
  color:#1F925B;
}
body._dark-mode .data-table__ances li:hover{
  color: #A6E011
}
.data-table__ances li:after{
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 7px; 
  height: 7px;
  border-top: 1.5px solid #343434;
  border-right: 1.5px solid #343434;
  margin-right: 15px;
}

.data-table__ances li:last-child::after{
  display: none;
}

body._dark-mode .data-table__ances li:after{
  border-top: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
}
.data-table__ances li:last-child::after{
  display: none;
}
.data-table__name{
  flex: 0 0 250px;
  font-family: Rbold;
  display: flex;
  flex-wrap: wrap;
}
.valid-name-table{
  display: flex;
  flex-wrap: wrap;
}


body._dark-mode .data-table__items .data-table__name:hover{
  color:#A6E011
}
.data-table__authorship {
  flex: 0 0 200px;
}
.data-table__rank {
  flex: 0 0 100px;
}
.data-table__ances {
  flex: 1 1 auto;
}
.data-column{
  position: relative;
  padding: 25px 15px;
  transition: 0.2s;
}
.data-column::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #fbfbfb;
  transition: 0.2s;
}

body._dark-mode .data-column::after{
  background-color: #121212;
}

#search__close {
  display: none;
}
#search__open {
  display: none;
}


#data-card__container{
  display: flex; 
  flex-direction: column;
  
}

.data-help{
  background-color: #fff;
  position: absolute;
  max-width: auto;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  border-radius: 5px;
  padding: 30px;
  line-height: 130%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.data-help._closed{
  opacity: 0;
  pointer-events: none;
}

body._dark-mode .data-help{
  background-color: #222222;
  
}

.help-header{
  font-size: 18px;
  font-family: Rbold;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.help-header svg{
  height: 22px;
  width: 22px;
  fill: #cecece;
  z-index: 111;
  cursor: pointer;
}

.help-content__item{
  display: flex;
  margin-top: 15px;
}

.help-content__item span{
  color:#1F9230;
  font-family: Rbold;
  transition: 0.2s; 
}

body._dark-mode .help-content__item span {
  color: #B5E92F;
}


@media (max-width: 1100px) {

  #data-card__container,
  #data-table__container,
  #data-browse__container {
    padding-top: 30px;
  }
    .header {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100vh;
      transition: 0.2s;
      padding: 0;
      margin: 0;
    }
  
    .header._closed {
      top: -100%;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s;
    }
  
    .header__container {
      height: 100%;
      padding: 30px;
      flex-direction: column;
      align-items: center;
    }
  
    .header__logo a {
      font-size: 25px;
    }
  
    .header__menu {
      margin: 50px 0px 0px 0px;
      flex: 1 1;
      justify-self: center;
      padding: 0;
    }
  
    .header__menu-container {
      flex-direction: column-reverse;
      height: 100%;
      justify-content: flex-end;
      margin-top: 50px;
    }
  
    .header__menu-links {
      display: flex;
      text-align: center;
      margin-top: 70px;
      flex: 1 1;
      flex-direction: column-reverse;
    }
  
    .menu-link {
      margin: 20px 0px;
      font-size: 40px;
    }
  
    #search-link {
      display: block;
    }
  
    .to-home {
      position: relative;
      margin: 0px;
      margin-top: 30px;
    }
  
    #close-menu {
      display: block;
      margin: 0;
      padding: 0;
      margin-bottom: 50px;
      flex: 1 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  
    .query {
      opacity: 0;
      pointer-events: none;
    }
  
    .header__menu-links {
      flex: 0 0;
    }
  
    .query {
      opacity: 1;
      pointer-events: all;
      flex: 0 0;
  
    }
  
    .query input {
      height: 55px;
      font-size: 20px;
      max-width: 500px;
      margin: 0;
      padding-right: 0;
    }
  
    .query svg {
      background-color: #B5E92F;
      right: 0;
      padding: 10px;
      fill: #fff;
      height: 100%;
      width: 50px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  
    body._dark-mode .query svg {
      background-color: #1F925B;
      fill: #222222;
    }
  
    .header__icons__item svg {
      height: 40px;
      width: 40px;
    }
  
    .menu-icon {
      position: fixed;
      top: 15px;
      right: 15px;
      height: 40px;
      width: 40px;
      background-color: #1F925B;
      /* padding: 15px; */
      border-radius: 30px;
      fill: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      z-index: 120;
      padding: 12px 10px;
  
      align-items: center;
    }
  
    body._dark-mode .menu-icon {
      background-color: #A6E011;
      fill: #222222;
    }
  
    .menu-icon .line {
      width: 22px;
      height: 2px;
      background-color: #fff;
      transition: 0.2s;
    }
  
    body._dark-mode .menu-icon .line {
      background-color: #222222;
    }
  
    .menu-icon._opened .line {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .menu-icon._opened #middle-line {
      opacity: 0;
    }
  
    .menu-icon._opened #top-line {
      transform: rotate(45deg);
    }
  
    .menu-icon._opened #bottom-line {
      transform: rotate(-45deg);
    }
  
  
    .header__logo {
      position: fixed;
      top: 30px;
      left: 15px;
    }
    

    .data-help {
      background-color: #fff;
      position: absolute;
      max-width: 100%;
      left: 15px;
      right: 15px;
      top: 35px;
      transform: translateY(0);
      padding: 15px;
      display: none;
    }
    .data-header{
      margin-top: 15px;
      display: block;
    }
    .help-content{
      display: flex;
      flex-direction: row;
    }
    .help-content__item{
      margin-right: 15px;
    }
 
    .data-table__name {
      flex: 0 0 200px;
    }

    .data-table__authorship {
      flex: 0 0 150px;
    }

    .data-table__rank {
      flex: 0 0 90px;
    }

    .data-table__ances {
      flex: 1 1 auto;
      
    }
}

@media (max-width: 770px){
  .data-table__item {
    /* flex-direction: column; */
    flex-wrap: wrap;
    height: auto;
    margin-top: 15px;
    flex: 1 1 auto;
  }
  .data-table__name {
    flex: 1 1 auto;
  }

  .data-table__authorship {
    flex: 1 1 auto;
  }

  .data-table__rank {
    flex: 1 1 auto;
  }

  .data-table__ances {
    flex: 1 1 auto;
    padding-left: 0;
  }
  .data-table__item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #A6E011;
  }
  .data-table__labels{
    display: none;
  }

  .card__info-row{
    flex-direction: column;
  }
  .data-card__info-label{
    margin-bottom: 15px;
  }
}